:root {
    --TD-CHECKERBG: #dcdcdc;
    --TH-BG: #555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 90%;
    margin: auto;
    display: block;
}

table {
    margin: auto;
    width: min(50%, 1000px);
    aspect-ratio: 1 / 1;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    background-color: var(--TH-BG);
    color: white;
    text-align: center;
}

td {
    width: calc(100% / 8);
    border: 1px solid #555;
    aspect-ratio: 1 / 1;
}

tr:nth-child(even) > td:nth-child(even),
tr:nth-child(odd) > td:nth-child(odd) {
    background-color: var(--TD-CHECKERBG);
}