:root {
    --TD-CHECKERBG: #dcdcdc;
    --TH-BG: #555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 90%;
    margin: auto;
    display: block;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th {
    background-color: var(--TH-BG);
    color: white;
    text-align: center;
    padding: 0 5px;
}

td {
    width: 5vw;
    height: 5vw;
    border: 1px solid #555;
}

tr:nth-child(even) > td:nth-child(even),
tr:nth-child(odd) > td:nth-child(odd) {
    background-color: var(--TD-CHECKERBG);
}